#facts {
    background-color: antiquewhite;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

}

.get_fact {
    border-radius: 1em;
    padding: 1em;
    background-color: rgb(233, 180, 111);
    color: black;
    cursor: pointer;
}

.get_fact:hover {

    background-color: antiquewhite;
}