body {
    background-color: aliceblue;
}

h1 {
    color: chartreuse;
}

h4 {
    color: chocolate;
}

p {
    color: cornflowerblue;
}

button {
    background: blueviolet;
    padding: 10px;
    border-radius: 20% 20%;
    border: 1px solid gray;
    box-shadow: 3px 3px 1px blueviolet;
    display: block;
    margin: 10px auto;

}

button:hover {

    cursor: pointer;
}

#outerdiv {
    background-color: pink !important;

}

#hello {
    background-color: yellowgreen;
}

.nextdiv {
    background: rgb(25, 161, 206);
    width: 200px;
    height: 200px;
    margin: 20px auto;

}

.nextdiv:hover {

    transition: all 2s ease-in-out;


    transform-style: preserve-3d;
    transform-box: stroke-box;
    box-shadow: 10px 10px 5px rgb(42, 188, 236);

    transform: rotate(360deg);
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}